body {
  color: #fff;
  font-family: 'Cerebri Sans', Arial, Helvetica, sans-serif;
}

body,
h1,
h2 {
  margin: 0;
}

.container {
  background-image: linear-gradient(to top, #37ecba 0%, #72afd3 100%);
  width: 50%;
  margin: 30px auto;
  padding: 30px;
  border-radius: 10px;
}

h1 {
  border: 1px solid white;
  text-align: center;
  padding: 20px;
  font-weight: bold;
}

h2 {
  text-align: center;
  padding: 20px;
}

img {
  display: block;
  border-radius: 4px;
  max-width: 100%;
  height: auto;
  margin: auto;
}
p {
  line-height: 1.5;
  font-size: 24px;
}
a {
  color: white;
  font-size: 12px;
}
button {
  border: 1px solid white;
  color: #fff;
  background-color: black;
  font-size: 42px;
  margin: 30px auto;
  border-radius: 4px;
  text-transform: uppercase;
  display: block;
  padding: 10px 20px;
  cursor: pointer;
  opacity: 1;
  box-shadow: 0 1px 20px rgba(0, 0, 0, 0.5);
}
button:hover {
  opacity: 0.9;
}
